.homepage {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.home-paper {
  padding: 30px;
}

.submit-text {
  color: white;
  text-decoration: none;
}

.home-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.home-form > div {
  margin-bottom: 15px;
}

.button-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  position: fixed;
  background-color: white;
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgb(17, 100, 160);
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  width: 495px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.qr-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.qr-text {
  text-align: left;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-left: 15px;
  margin-top: -5px;
}

.qr-text > p {
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 0.33px;
  font-weight: 100;
}

.qr-text > p:nth-child(1) {
  font-size: 14px;
  line-height: 1.5;
}

.qr-text > p:nth-child(2) {
  font-size: 12px;
  line-height: 1.5;
}

.qr-container > img {
  width: 110px;
}

.error-text {
  text-align: left;
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.33px;
  font-weight: lighter;
  margin-top: 5px;
}

.emoji-container {
  width: max-content;
}

.emoji {
  font-size: 4.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: white;
  width: max-content;
  margin: 0;
}

.App {
  height: inherit;
  width: inherit;
  text-align: center;
}

#root {
  height: inherit;
  width: inherit;
}

body {
  height: inherit;
  width: inherit;
  margin-top: -21px;
  padding-top: 0;
}

html {
  margin-top: 0;
  padding-top: 0;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
